# Assignment 01: Evaluate the FAA Dataset

#### 1: VIew and import the dataset

In [1]:
#Import necessary libraries
import numpy as np
import pandas as pd

In [31]:
#Import the FAA (Federal Aviation Authority) dataset
df = pd.read_csv(r"C:\Users\Asus\Documents\Dataset\faa_ai_prelim.csv")

#### 2: View and understand the dataset

In [4]:
#View the dataset shape
df

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,No,08-FEB-16,31-DEC-15,17:00:00Z,SAN ANTONIO,Texas,NaN,"AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...",Accident,FAA San Antonio FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,No,08-FEB-16,05-FEB-16,11:17:00Z,MARICOPA,Arizona,NaN,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,FAA Scottsdale FSDO-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Yes,02-FEB-16,02-FEB-16,01:52:00Z,MOBILE,Alabama,NaN,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,FAA Birmingham FSDO-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#View the first five observations
df.head(5)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#View all the columns present in the dataset
df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

#### 3: Extract the following attributes from the dataset:
1. Aircraft make name
2. State name
3. Aircraft model name
4. Text information
5. Flight phase
6. Event description type
7. Fatal flag

In [9]:
#Create a new dataframe with only the required columns
df1 = df[['ACFT_MAKE_NAME','ACFT_MODEL_NAME','FLT_PHASE','FATAL_FLAG','LOC_STATE_NAME','RMK_TEXT','EVENT_TYPE_DESC']]

In [12]:
#View the type of the object
type(df1)

pandas.core.frame.DataFrame

In [13]:
#Check if the dataframe contains all the required attributes
df1.columns

Index(['ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'FLT_PHASE', 'FATAL_FLAG',
       'LOC_STATE_NAME', 'RMK_TEXT', 'EVENT_TYPE_DESC'],
      dtype='object')

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ACFT_MAKE_NAME   78 non-null     object
 1   ACFT_MODEL_NAME  79 non-null     object
 2   FLT_PHASE        82 non-null     object
 3   FATAL_FLAG       8 non-null      object
 4   LOC_STATE_NAME   83 non-null     object
 5   RMK_TEXT         83 non-null     object
 6   EVENT_TYPE_DESC  83 non-null     object
dtypes: object(7)
memory usage: 4.7+ KB

#### 4. Clean the dataset and replace the fatal flag NaN with “No”

In [35]:
#Replace all Fatal Flag missing values with the required output
df1['FATAL_FLAG'].fillna('NO', inplace=True)

C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [36]:
#Verify if the missing values are replaced
df1['FATAL_FLAG'].value_counts()

NO     75
Yes     8
Name: FATAL_FLAG, dtype: int64

In [20]:
#Check the number of observations
df1.shape[0]

83

#### 5. Remove all the observations where aircraft names are not available

In [23]:
#Drop the unwanted values/observations from the dataset
df2 = df.drop(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR',
       'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'], axis=1)

#### 6. Find the aircraft types and their occurrences in the dataset

In [24]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped
df2.shape

(83, 5)

In [26]:
df2.head()

  ACFT_OPRTR ACFT_MAKE_NAME ACFT_MODEL_NAME  ACFT_MISSING_FLAG ACFT_DMG_DESC
0        NaN          BEECH              36                NaN       Unknown
1        NaN           VANS             RV7                NaN       Unknown
2        NaN         CESSNA             172                NaN         Minor
3        NaN        LANCAIR             235                NaN       Unknown
4        NaN         CESSNA             172                NaN         Minor

In [29]:
#Group the dataset by aircraft name
df_grouped = df2.groupby('ACFT_MAKE_NAME')

In [30]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)
df_grouped.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

#### 7: Display the observations where fatal flag is “Yes”

In [37]:
#Group the dataset by fatal flag
ftl_glag_grp = df1.groupby('FATAL_FLAG')

In [38]:
#View the total number of fatal and non-fatal accidents
ftl_glag_grp.size()

FATAL_FLAG
NO     75
Yes     8
dtype: int64

In [39]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)
df1[df1['FATAL_FLAG'] == 'Yes']

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC
0,BEECH,36,UNKNOWN (UNK),Yes,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident
22,NaN,NaN,TAKEOFF (TOF),Yes,Arizona,"AIRCRAFT, LIGHT SPORT EVOLUTION REVO, ON TAKE...",Accident
53,PIPER,PA28,UNKNOWN (UNK),Yes,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident
55,FLIGHT DESIGN,CTLS,UNKNOWN (UNK),Yes,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident
79,NORTH AMERICAN,F51,UNKNOWN (UNK),Yes,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident
80,CHAMPION,8KCAB,UNKNOWN (UNK),Yes,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident
81,BEECH,35,UNKNOWN (UNK),Yes,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident
82,CESSNA,182,UNKNOWN (UNK),Yes,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident

In [40]:
ftl_glag_grp.get_group('Yes')

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC
0,BEECH,36,UNKNOWN (UNK),Yes,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident
22,NaN,NaN,TAKEOFF (TOF),Yes,Arizona,"AIRCRAFT, LIGHT SPORT EVOLUTION REVO, ON TAKE...",Accident
53,PIPER,PA28,UNKNOWN (UNK),Yes,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident
55,FLIGHT DESIGN,CTLS,UNKNOWN (UNK),Yes,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident
79,NORTH AMERICAN,F51,UNKNOWN (UNK),Yes,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident
80,CHAMPION,8KCAB,UNKNOWN (UNK),Yes,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident
81,BEECH,35,UNKNOWN (UNK),Yes,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident
82,CESSNA,182,UNKNOWN (UNK),Yes,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident